
version: 2
updates:
# Enable version updates for Github Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"
    reviewers:
      - "codeplaysoftware/security-managers"
